<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <h3>Addition: <%= sum %></h3>
    <h3>Subtraction: <%= sub %></h3>
    <h3>Multiplication: <%= multi %></h3>
    <h3>Division: <%= division %></h3>
  </body>
</html>
